.board {
    position: relative;
    width: 60vw;
    height: 100vh;
    padding-left: calc(var(--tile-width) * 0.75);
    padding-right: calc(var(--tile-width) * 0.75);
    overflow: auto;
    background-color: #b0e2ff;
}

.board__layer {
    position: absolute;
    top: calc(var(--tile-width));
    left: 0%;
    width: 100%;
    height: calc(100% - var(--road-width));
}

.board__buttons {
    top: var(--road-width);
    left: calc(var(--tile-width) / 2);
    z-index: var(--panel-z);
}

.board__button {
    margin: 0.5rem;
    cursor: pointer;
}

.board__button:hover {
    scale: 1.1;
}

.board__row {
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .board {
        width: 100vw;
        height: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
}