.board {
    position: relative;
    width: 100vh;
    height: 100vh;
    padding-left: calc(var(--tile-width) / 2);
    padding-right: calc(var(--tile-width) / 2);
    overflow-x: scroll;
}

.board__layer {
    position: absolute;
    top: 1rem;
    left: 0%;
    width: 100%;
    height: 100%;
}

.board__row {
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .board {
        width: 100vw;
        height: 100vw;
        padding-left: 0;
        padding-right: 0;
    }
}