.sidebar {
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
    display: flex;
    z-index: var(--chat-depth);
}

.chat {
    width: 20rem;
    height: 100%;
    display: none;
    flex-direction: column;
}

.chat__close {
    height: 100%;
}

.chat__log {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #eeeeee;
}

.chat__input {
    width: 100%;
    display: flex;
}

.chat__input > input {
    flex-grow: 1;
}

.chat__input > button {
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100vw;
        height: fit-content;
        top: auto;
        bottom: 0%;
        flex-direction: column;
    }

    .chat {
        width: 100vw;
        height: calc(100vh - 2rem);
    }
    
    .chat__close {
        width: 100vw;
        height: 2rem;
    }
}