.deck {
    position: relative;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck--drop {
    height: 12rem;
    margin-top: 10vh;
    animation: drop 0.5s;
}

@keyframes drop {
    0% {
        margin-top: -12rem;
    }

    100% {
        margin-top: 10vh;
    }
}

.deck__cards {
    display: flex;
    overflow-x: scroll;
}

.deck__button {
    position: absolute;
    right: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #222222;
    transition: scale 0.2s;
}

.deck__button > i {
    font-size: 1.5rem;
    color: #eeeeee;
}

.deck__button:hover {
    scale: 1.1;
}