.deck {
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck--drop {
    height: 12rem;
    margin-top: 10vh;
    animation: drop 0.5s;
}

@keyframes drop {
    0% {
        margin-top: -12rem;
    }

    100% {
        margin-top: 10vh;
    }
}

.deck__cards {
    display: flex;
    overflow-x: scroll;
}