.game {
    width: 100%;
    height: 100%;
    margin: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game__room-id {
    position: absolute;
    top: 0%;
    left: 0%;
}

.game__start {
    position: fixed;
    top: 0%;
    left: 0%;
}

@media screen and (max-width: 600px) {
    .game {
        flex-direction: column;
    }
}