/*  
      junction )--------
              / ________
             / /        \
            / /          \
    fork --( (  hexagon™  )
            \ \          /
             \ \________/
              \
      junction )--------

    > fork - 1 road splits to 2
    > junction - 2 roads join into 1
    > flipped at 90° because of ascii art limitations
*/

.intersection {
    position: relative;
    margin-top: 0rem;
    margin-left: calc(var(--tile-width) * 0.5);
    margin-right: calc(var(--tile-width) * 0.5);
}

.intersection__point {
    position: relative;
    width: var(--road-width);
    height: var(--road-width);
    scale: 1.5;
    box-sizing: border-box;
    border: 0.1rem solid #eeeeee;
    border-radius: 50%;
    background-color: #eeeeee;
    z-index: var(--intersection-z);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.2s, background-color 0.5s;
    cursor: pointer;
}

.intersection__point:hover {
    scale: 2;
    background-color: #555555;
}

.intersection__point--hovered {
    scale: 2;
    background-color: #555555;
}

.intersection__point--rolled {
    scale: 2;
    border: 2px solid #555555;
}

.intersection__icon {
    font-size: calc(var(--road-width) * 0.5);
}

.intersection--fork {
    margin-bottom: calc((var(--tile-width) + var(--road-width)) * 0.2886 - var(--road-width));
}

.intersection--junction {
    margin-bottom: calc((var(--tile-width) + var(--road-width) * 1.1547) * 0.5774 - var(--road-width));
}