.form__input {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form__input > input {
    flex-grow: 1;
    max-width: 100%;
    height: 2rem;
}

.form__input > i {
    font-size: 1.6rem;
    margin: auto;
    padding: 0.2rem;
    opacity: 100%;
}

.form__input > .fa-paste:hover {
    opacity: 50%;
    scale: 1.1;
}

.form__buttons {
    display: flex;
    gap: 1rem;
    width: 20rem;
    height: 3rem;
}

.form__buttons > button {
    width: 15rem;
    height: 3rem;
}