.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__label {
    position: fixed;
    top: 0%;
    left: 0%;
    margin: 0.2rem;
    color: #eeeeee;
    z-index: var(--overlay-z);
}

.menu__transfer {
    color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__icon {
    font-size: 2rem;
}

.menu__buttons {
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__button {
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #222222;
    opacity: 100%;
    transition: scale 0.2s;
}

.menu__button > i {
    color: #eeeeee;
}

.menu__button:hover {
    scale: 1.1;
}

.menu__button:disabled {
    pointer-events: none;
    opacity: 50%;
}