.overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--overlay-z);
}