/*  
        width / cos30°
        <------------>  
           ________
          /        \    ^
         /          \   |
        (  hexagon™  )  | width
         \          /   |
          \________/    v

        <->
      width / cos30° / 4

    > flipped at 90° because of ascii art limitations
*/

.tile {
    position: relative;
    width: var(--tile-width);
    height: calc(var(--tile-width) * 1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-top: var(--road-width);
    margin-bottom: calc(var(--tile-width) * -0.2886);
    margin-left: calc(var(--road-width) * 0.5);
    margin-right: calc(var(--road-width) * 0.5);
    background: #eeeeee;
    background-size: contain;
    display: flex;
    z-index: var(--tile-z);
}

.tile--disabled {
    pointer-events: none;
}

.tile:hover {
    opacity: 50%;
}

.tile__text {
    margin: auto;
    font-size: 1rem;
    text-align: center;
}

.tile[data-terrain="desert"] {
    background-image: url("../assets/desert.png");
}

.tile[data-terrain="fields"] {
    background-image: url("../assets/fields.png");
}

.tile[data-terrain="forest"] {
    background-image: url("../assets/forest.png");
}

.tile[data-terrain="hills"] {
    background-image: url("../assets/hills.png");
}

.tile[data-terrain="mountains"] {
    background-image: url("../assets/mountains.png");
}

.tile[data-terrain="pasture"] {
    background-image: url("../assets/pasture.png");
}