@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import "./css/app.css";
@import "./css/board.css";
@import "./css/chat.css";
@import "./css/game.css";
@import "./css/intersection.css";
@import "./css/lobby.css";
@import "./css/road.css";
@import "./css/tile.css";

:root {
    /* the board is about 31 units tall */
    font-size: calc(100vh / 32);
    --tile-width: 5rem;
    --road-width: 1rem;
    --road-depth: 5;
    --tile-depth: 10;
    --intersection-depth: 15;
    --chat-depth: 100;
}

* {
    font-family: 'Sono', sans-serif;
    font-size: 1.2rem;
}

html, body, #root {
    margin: 0rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5dc;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 60%;
    }
}