@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import "./css/chat.css";
@import "./css/lobby.css";

* {
    font-family: 'Sono', sans-serif;
    font-size: 1.2rem;
}

html, body {
    margin: 0rem;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}